header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    padding: 8px 16px;
    background: var(--green);
}

#logoHeader {
    height: 48px;
    aspect-ratio: 1/1;
}

#navHeader {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/********************************/
/* RESPONSIVITY */
/********************************/

@media screen and (max-width: 412px) and (max-height: 917px) {
    header {
        justify-content: center;
    }

    header > *:first-child {
        margin-left: 16px;
    }

    header > *:last-child {
        margin-right: 16px;
    }
}
