main,
main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 32px;
}

main {
    padding-block: 32px;
    width: 800px;
}

main > section {
    width: 100%;
}

main > section > img {
    object-fit: contain;
    width: 100%;
}

main > section > h1,
main > section > h2,
main > section > h2,
main > section > p,
main > section > ul {
    margin-inline: 16px;
    text-align: left;
    align-self: start;
    text-wrap: wrap;
}

main > section > h2 {
    margin-top: 32px;
}

main > section > ul {
    margin-inline: 32px; /*16px by default for bullets, 16px because of the mock-up*/
}

/********************************/
/* RESPONSIVITY */
/********************************/

@media screen and (max-width: 412px) and (max-height: 917px) {
    main {
        padding-inline: 0px;
        width: 100vw;
    }
}
