@import url(../../css/base.css);

#title {
    font-size: 72px;
    width: 571px;
    text-align: center;
    align-self: center;
}

/********************************/
/* RESPONSIVITY */
/********************************/

@media screen and (max-width: 412px) and (max-height: 917px) {
    #title {
        font-size: 48px;
        width: auto;
    }
}
